header {background-color:#ff7100; }
.header_menu {border-top-color:#ff7100}
.header_menu .main_menu li a:hover {color:#ff7100}
.header_menu .main_menu li.on a {color:#ff7100}
.header_menu .s_menu .enter_store {background:#ff7100}
.header_menu .s_menu .m_menubtn {background-color:#ff7100}
.header_menu .menu_open.skin1 .deps1 ul li a:hover {background:#ff7100; border-color:#ff7100;}
.header_menu .menu_open.skin1 .deps1 ul li.on a {background:#ff7100; border-color:#ff7100;}
.header_menu .menu_open.skin1 .deps2 ul li a:hover {color:#ff7100; background:#ff7100}
.header_menu .menu_open.skin1 .deps2 ul li.on a {background:#ff7100;}
.header_menu .menu_open.skin2 .deps1 ul li a:hover {background:#ff7100; border-color:#ff7100; color:#fff; }

.quick_search .title span {color:#ff7100}
.quick_search button {background:#ff7100}

/*input*/
label.style1 input[type="checkbox"]:checked + span::before {background-color:#ff7100; border-color:#ff7100;}

/*모바일 검색*/
.m_search_bg {border-top-color:#ff7100}
.m_search_bg .result li.search_o button {background:#ff7100; }
.m_search .hot_search p {color:#ff7100}

/*메인 커뮤니티*/
.all_commu>ul li.first {border-color:#ff7100; }
.all_commu>ul li h3 {background-color:#ff7100;}
.all_commu>ul li.first .shop_name {border-color:#ff7100; color:#ff7100}
.all_commu>ul li .wrap2 dl dt {color:#ff7100;}
.all_commu>ul li .wrap2 dl dd {color:#ff7100;}

.only_review>ul li .wrap2 dl dt {color:#ff7100;}
.only_review>ul li .wrap2 dl dd {color:#ff7100; }
.only_review>ul li.first {border-color:#ff7100; }
.only_review>ul li.first .title {background-color:#ff7100; }
.only_review>ul li.first .shop_name {border-color:#ff7100; color:#ff7100;}


/*공지사항*/
footer .main_notice h3 a {color:#fff; background-color:#ff7100;}

/*모바일*/
.m_menu .m_top {background:#ff7100;}
.m_menu .m_nav_1d>li>a.on {color:#ff7100;}

/*필터*/
.filter h2 {background-color:#ff7100}
.filter .f_result ul li:last-child button {background-color:#ff7100; }
.category_view .m_fiter_btn button {border:1px solid #ff7100; color:#ff7100;}

/*제휴업체*/
.partner h2 b em {color:#ff7100}

/*테이블스타일*/
table.style2 { border-top-color:#ff7100}

/*페이징*/
.paging ul li.on {border-color:#ff7100; background-color:#ff7100; z-index:1}

/*쿠폰상세*/
.event .btn li:first-child button {background:#ff7100}
.event .btn li button {border-color:#ff7100; color:#ff7100;}

/*이용후기*/
.review .thead .select button {background:#ff7100}
.review .r_head .t_num b {color:#ff7100;}
.commu.view .review_shop .shop_info>div .ev li.shop_infor {border-color:#ff7100;}
.commu.view .review_shop .shop_info>div .ev li.shop_infor a {color:#ff7100;}
.review_pg .r_head .select button.write {background:#ff7100}
.review_pg .r_head .order li.on {background:#eb5a02; border-color:#eb5a02}

/*테이블*/
.commu table.style3 th {border-top-color:#ff7100;}
.commu .best {border-top-color:#ff7100}

/*지도*/
.my_location button {background-color:#ff7100}
section.map .map_list>p b {color:#ff7100}

/*샵 상세*/
.shop_detail .tab li.on a {color:#ff7100; border-color:#ff7100;}
.shop_detail .tab_wrap h3 {color:#ff7100 }
.shop_detail .rhead {border-top-color:#ff7100}
.shop_detail .rhead ul li button {background:#ff7100}
.shop_detail .tab_wrap h3 span::after {background:#ff7100}

/*로그인*/
.login_sub .logininput button {background:#ff7100}
.login_sub .logintab li.on {border-color:#ff7100;}
.login_sub .logintab li.on a {color:#ff7100;}

/*회원가입*/
.register .order li.on span {background:#ff7100; border-color:#ff7100;}
.register .join_message p:nth-child(1) {background:#ff7100}
.register .join_message p:nth-child(3) em {color:#ff7100}

/*마이페이지*/
.my_sub .left_menu li.on a {background:#ff7100}
.my_sub .left_menu li:hover:after {border-left-color:#ff7100}
.my_sub .mail_page .button_area ul li.on button {background-color:#ff7100; border-color:#ff7100}
.my_sub .my_con .date_search ul li.on button {background-color:#ff7100}
.my_coupon .top_tab .on {background:#ff7100}
.my_coupon .top_tab .on button {background-color:#ff7100;}

/*공통*/
button.base {background:#ff7100;}
button.base2 {background:#ff7100;}
input[type="checkbox"] {accent-color:#ff7100;}
.left_menu li.on a {background:#ff7100;}
.left_menu li.on a:after {border-left-color:#ff7100}
.left_menu li:hover a {background:#ff7100;}
.left_menu li:hover a:after {border-left-color:#ff7100}
.left_menu li:hover:after {border-left-color:#ff7100}

/*커뮤니티 left메뉴*/
.board_leftmenu h2 {background:#ff7100}
.board_leftmenu li.on a {color:#ff7100}
.board_leftmenu dd ul li a:hover {color:#ff7100}

/*커뮤니티*/
.commu.board_list .side_con .fr button {background:#ff7100}
.commu .tab_menu li.on a {background:#ff7100}


