th {
    text-align: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* iOS 부드러운 스크롤 */
}

.table {
    min-width: 1000px !important;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #fff;
}

.table tbody tr {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.table tbody th,
.table tbody td {
    border: none;
    padding: 30px;
    font-size: 14px;
    background: #fff;
}